
body{
    font-family: 'Roboto-Regular';
    background: #000;

}

.imgCon{
    align-items: center;
    position: fixed;
    width: 100%;
    top: 20%;
    align-content: center;
}
.input{
    position: fixed;
    width: 100%;
    bottom: 3%;
    display: flex;
}
    
.main {
    width: 100%;
    float: left;
    margin-top: 60px;
    padding: 30px 0;
    background-color: rgb(0, 0, 0);
}


.chatarea-main {
    width: 42%;
    margin: 0 auto;
}
.chatarea-outer {
    width: 100%;
    float: left;
}
.chatbot-area .chatarea-main{float: left;}
.chatarea.user {
    float: right;
    width: 40%;
    padding: 20px 0;
}

.chatarea-inner {
    float: left;
    width: 60%;
    padding: 10px;
    color: rgb(4, 255, 100);
    text-shadow: 2px -2px 4px #fff;
    position: relative;
    margin: 5px 0;
}
.chatarea-inner.user{
    background: #6522a427;
}
.chatarea-inner.chatbot{
    background: #466db61e;
    float: right;
}



.chatbot-area .chatarea-inner{float: left;}

